{% block head %}
<title>Column Name</title>
{% endblock %}

{% block body %}
    <a href = "/">Home</a>
    <a href = "/add_data">Add new data for training</a>
    <a href = "/columns_details">Columns Details</a>
<br>
<table>
    <tr>
        <th>S.No</th>
        <th>Attribute</th>
        <th>Format</th>
        <th>Description</th>
    </tr>
{% for i in range(1,112,1) %}
    <tr>
        <td>{{i}}</td>
        <td>{{keys[i]}}</td>
        <td>{{ values[i] }}</td>
         <td><center>{{ description[i]}} </center></td>

    </tr>
{% endfor %}


</table>
{% endblock %}